# All but .ioc which is modified to initialize CAN
!ElectronicSpeedControl_ESC-G4/ElectronicSpeedControl_ESC-G4.ioc

# Ignore all generated data
build
STM32CubeIDE
generated
.extSettings
.mxproject
*.ioc.wb
*.log
*.settings
*.wbdef
*:Zone.Identifier

